p{
    margin: 0;
}

.ProjectWrapper:hover{
    cursor: pointer;
    box-shadow:0px 0px 5px rgb(29, 172, 255);
    
}

@keyframes transitionKF {
    from {
        width: 200px !important;
        height: 150px !important;
    }
    to {
       
    }
  }

.nombreProject p{
    font-size: x-large;
    padding-top: 40px;
}

.ProjectWrapper{
    width: 200px !important;
    height: 150px !important;
    background-color: rgb(43, 92, 132);
    border-radius: 5px;
    padding: 13px;
    text-align: left !important;
    transition: width 1s, height 1s, margin 1s; 
}

.expandedDiv{
    width: 96% !important;
    height: 570px !important;
    margin: 10px;
    z-index: 9999;
}

.stateIndicator{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(230, 144, 10);
}

.content{
    font-size: small;
}

.tags{
    /* margin-top: 10px; */
}

.tags div{
    display: inline-block;
    margin: 5px 5px 0 0;
    background-color: rgb(50, 53, 51);
    border-radius: 2px;
    font-size: x-small;
    padding: 0 3px 0 3px;
}

.nombreProject{
    height: 85px;
}